<% if @prop.errors.any? %>
  <div class="error_display">
    <% @prop.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  </div>
<% end %>
<%= form_with(model:@prop, local:true) do |form| %>
  <div class="prop_form">
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name %></p>
    <p><%= form.label :address %></p>
    <p><%= form.text_field :address %></p>
    <p><%= form.label :rent %></p>
    <p><%= form.text_field :rent %></p>
    <p><%= form.label :years_old %></p>
    <p><%= form.text_field :years_old %></p>
    <p><%= form.label :comment %></p>
    <p><%= form.text_area :comment %></p>
  </div>
  <div class="stations_form">
    <% count = 0 %>
    <%= form.fields_for :stations do |s|%>
      <% count += 1 %>
      <h3>最寄り駅<%= count %></h3>
      <p><%= s.label :line_name %></p>
      <p><%= s.text_field :line_name %></p>
      <p><%= s.label :station_name %></p>
      <p><%= s.text_field :station_name %></p>
      <p><%= s.label :minutes %></p>
      <p><%= s.text_field :minutes %></p>
    <% end %>
  </div>
  <p><%= form.submit "登録する" %></p>
<% end %>
