<h1>物件一覧</h1>
<table class="properties">
  <tr>
    <th>物件名</th><th>賃料</th><th>住所</th><th>築年数</th><th>備考</th>
  </tr>
  <% @props.each do |prop| %>
    <tr>
      <td><%= prop.name %></td><td><%= prop.rent %>円</td><td><%= prop.address %></td><td><%= prop.years_old %>年</td><td><%= prop.comment %></td>
    </tr>
  <% end %>
</table>
