<h1>物件一覧</h1>
<%= link_to "新規登録", new_prop_path %>
<table class="properties">
  <tr>
    <th>物件名</th><th>賃料</th><th>住所</th><th>築年数</th><th>備考</th>
  </tr>
  <% @props.each do |prop| %>
    <tr>
      <td><%= prop.name %></td><td><%= prop.rent.to_s(:delimited) %>円</td><td><%= prop.address %></td><td><%= prop.years_old %>年</td><td><%= prop.comment %></td><td><%= link_to "詳細", prop_path(prop.id) %></td>
    </tr>
  <% end %>
</table>
